{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
    <header>
        HEADER INDEX
    </header>
{% endblock %}

{% block body %}
<div>

    <h1>{{ author.fullname }}</h1>
    <h2>Listes des livres</h2>
    <ul>
        {% for book in  author.books %}

           <li>
               <a href="{{ path('book_show', {'slug': book.slug}) }}">

               {{ book.title }}


               </a>
           </li>

        {% endfor %}
    </ul>

</div>

{% endblock %}